.auth-page {
  width: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.auth-page > * {
  flex: 1;
  height: 100%;
}

.auth-page > .image-section {
  mix-blend-mode: darken;
  filter: brightness(2);
  padding: 4rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  height: 100%;
  border: 0.1rem solid #000;
  box-shadow: 0 0 2rem 1rem #00000033;
  border-radius: 1rem;
  padding: 0.5rem;
}

.auth-page > .image-section img {
  height: 100%;
  border-radius: 0.5rem;
}

.auth-page > .auth-section {
  position: relative;
  z-index: 2;
}

