.auth-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
  }
  
  .auth-page > * {
    flex: 1;
    height: 100%;
  }
  
  .auth-page > .image-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  