.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
  gap: 1.5rem;
}

.login-form .form-groups {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.login-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.login-form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

