.category-search-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
}

.category-search-page h1 {
  font-size: 4rem;
}

.category-search-page h2 {
  display: flex;
  gap: 0.5ch;
}

